<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to SeedSnitch</title>
    <style>
      body {
        font-family: "Times New Roman", Times, serif;
        margin: 0;
        font-size: 14px;
        line-height: 1.4;
        padding: 0;
        font-family: sans-serif;
        background-color: #f5f5f5;
      }
      .container {
        font-family: "Times New Roman", Times, serif;
        font-size: 14px;
        line-height: 1.4;
        margin: auto;
        max-width: 600px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      p {
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 20px;
      }
     
    </style>
  </head>
  <body>
    <div className="container">
      <p>Dear <%= data.founder.name%>,</p>

      <p>
        We are thrilled to inform you that your application has been accepted by the incubator for further deliberation.
      </p>

      <p>
        Your diligence and perseverance have paid off, and we are eager to assist in transforming your entrepreneurial notion into an effective enterprise.We believe that your startup has the potential to make a significant impact in the industry, and we cannot wait to see your progress.
      </p>
      <p>Further details regarding the same will be provided to you at the earliest.</p>

      <p>Regards,<br />Seedsnitch </p>

      
    </div>
  </body>
</html>
