


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to SeedSnitch</title>
    <style>
      body {
        font-family: "Times New Roman", Times, serif;
        margin: 0;
        font-size: 14px;
        line-height: 1.4;
        padding: 0;
        font-family: sans-serif;
        background-color: #f5f5f5;
      }
      .container {
        font-family: "Times New Roman", Times, serif;
        font-size: 14px;
        line-height: 1.4;
        margin: auto;
        max-width: 600px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      p {
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 20px;
      }
     
    </style>
  </head>
  <body>
    <div className="container">

      <p>Dear <%= data.fname%>,</p>

      <p>
        We are pleased to inform you that your application for the Campus Ambassador Program on
Seedsnitch has been received. The time and effort you put into your application to become a
part of our community is duly acknowledged
      </p>

      <p>
        Rest assured, every application is undergoing a comprehensive review and we will let you
know regarding the status of your application as soon as possible.

      </p>

      <p>
        We appreciate your patience throughout this process and assure you that we are diligently
trying to make the best possible selection.

      </p>

      <p>Till then, we invite you to explore Seedsnitch as a platform and learn more about our goals
        and mission.Kindly feel free to contact us in case you have any queries or concerns. We’re
        always available to provide the assistance and support needed.</p>


      <p>
        Thank you for applying to our Campus Ambassador Program and for being a part of our
        journey!
      </p>

        <p>Regards,<br />Seedsnitch </p>
       

      
    </div>
  </body>
</html>
